
<div class="p-3 mb-2 bg-light text-dark d-flex flex-column vh-100">
    <h1>My Consoles</h1>
<div class="row">
<div class="col">You've spent a total of <b>RM <%= priceSum.toLocaleString() %></b> on video games</div>
<div class="col">You've spent <b><%= hoursSum.toLocaleString() %></b> hours playing your games</div>
</div>
<div class="row">
    <% consoleList.forEach(consoleItem => { %>
        <div class="border border-dark col-2 card text-dark" style="margin:35px; width:250px; padding:5px;">
            <img src="/uploads/<%= consoleItem.consolePicture %>" style="width: 230px; height: 170px;">
            <div><b><%= consoleItem.manufacturer %> <%= consoleItem.name %></b></div>
            <div>Bought on <%= consoleItem.dateBought.toLocaleDateString('en-GB') %></div>
            <div></div>
            <div>
                <div>
                    <a href="/console/<%= consoleItem._id %>/details" class="btn btn-primary d-grid" style="margin:5px">Show Games</a>
                </div>
                <div>
                    <a href="/games/<%= consoleItem._id %>/add" class="btn btn-success d-grid" style="margin:5px">Add Games</a>
                </div>
                <div>
                    <form class="d-grid" action="/console/<%= consoleItem._id %>/details?_method=DELETE" method="POST">
                        <input class="btn btn-danger d-grid"style="margin:5px" type="submit" value="Remove">
                    </form>
                </div>
                
            </div>
        </div>
    <% }) %>
</div>
</div>