<div class="p-3 mb-2 bg-light text-dark d-flex flex-column vh-100">
<div>
    <h3>List of Games</h3>
</div>
<div>
    <form action="/console/<%= consoleItem._id %>/details" method="GET">
        <!-- <label>Search</label> -->
        <input class='form-control' style="width: 400px" placeholder="Search your game library" type="text" name="gameName" value="<%= searchQuery || '' %>">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="row">
<% games.forEach(game => { %>
    <% let gameStatus = "" %>
    <% if (game.isCompleted == true) { %>
        <% gameStatus = "Completed"; %>
        <% } else { %>
            <% gameStatus = "Not Completed" %>
        <% } %>
    <div class="col-2 card text-dark" style="margin:35px; width:250px; padding:5px;">
        <div><b><h2><%= game.gameName %></h2></b></div>
        <div>Bought on <%= game.dateBoughtGame.toLocaleDateString('en-GB') %></div>
        <div>RM <%= game.gamePrice %></div>
        <div>Played for <%= game.hoursPlayed %> hours</div>
        <div><%= gameStatus %></div>

        <div>
            <a href="games/<%= game._id %>/update" class="btn btn-success">Update</a>
        </div>
        <div>
            <form action="games/<%= game._id %>?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Remove">
            </form>
        </div>
    </div>
<% }) %>
</div>
<div>
    <a href="/games/<%= consoleItem._id %>/add">Add Games</a>
</div>
</div>