<h1>Update Game</h1>
<form action="/games/<%= games._id %>/update?_method=PUT" method="POST">
    <div>
        <label for="gameName">
            <input type="text" name="gameName" value="<%= games.gameName %>">
        </label>
    </div>
    <div>
        <label for="dateBoughtGame">
            <input type="date" name="dateBoughtGame" value="<%=games.dateBoughtGame %>">
        </label>
    </div>
    <div>
        <label for="gamePrice">
            <input type="text" name="gamePrice" value="<%= games.gamePrice %>">
        </label>
    </div>
    <div>
        <label for="isCompleted">
            <input type="checkbox" name="isCompleted" value="<%= games.isCompleted %>">
        </label>
    </div>
    <div>
        <label for="hoursPlayed">
            <input type="text" name="hoursPlayed" value="<%= games.hoursPlayed %>">
        </label>
    </div>
    <button>Update Game</button>
</form>
